@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.font-narrowest {
		font-variation-settings: 'wdth' 75;
	}
	.font-narrower {
		font-variation-settings: 'wdth' 90;
	}
	.font-wider {
		font-variation-settings: 'wdth' 115;
	}
	.font-widest {
		font-variation-settings: 'wdth' 125;
	}
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('/fonts/IBMPlexSans-Medium.ttf') format('ttf');
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Mona Sans';
	src: url('/fonts/Mona-Sans.woff2') format('woff2');
	font-display: swap;
}
